body { padding-top: 50px; }

.container-fluid {
    background-image: url("img/cabbage-4513641_1920.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    height: 90vh;
} 

ul {
    margin:0 auto;
}

li {
    width:150px;
}

.card {
background-color: transparent;
border:none;
}

/* ani part */

.logo {
    -webkit-transform: scale(3) translateX(10vh) ;
    transform: scale(5) translateY(10vh) ;
}