body { padding-top: 50px; }

.bg-dark {
    background-color: #354731!important;
}

.container-fluid {
    background-image: url("img/cabbage-4513641_1920.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 90vh;
} 

ul {
    margin:0 auto;
}

li {
    width:150px;
}

.card {
    background-color: transparent;
    border:none;
}

/* ani part */

/* For Startlogo */
.logo {   
    fill: white;
   -webkit-transform: scale(5) translateY(10vh);
    transform: scale(5) translateY(10vh);     
}

/* For Animation */
.myscrollTransition { 
    -webkit-transition: all 1s; /* For Safari 3.1 to 6.0 */
    transition: all 1s;
}
.myscrollTransitionSlow { 
    -webkit-transition: all 1s; /* For Safari 3.1 to 6.0 */
    transition: all 2s;
}

/* For for (var i = 0; i < document.getElementsByClassName("nav-link").length; i++) */
.myscrollNavcolor {  
    color: #354731!important;
}
.myscrollNavcolor:focus, .myscrollNavcolor:hover {
    color: rgba(255,0,0,.5)!important;
}